*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.object-gallery .container .two-columns .obj-row1  .obj3abovec{
    height: 51vh !important;
} 
.object-gallery .container .two-columns .obj-row1  .obj3abovec p{
    padding: 10px;
    margin: 19px;
}
.object-gallery .container .two-columns .obj-row2  .obj3belowb{
    height: 51vh !important;
}
.object-gallery .container .two-columns .obj-row2  .obj3belowb p{
    padding: 10px;
    margin: 19px;
}
.container .twin-div{
    width: 100%;
}
.container .twin-div .left-content{
    width: 50%;
}

@media screen and (max-width: 320px){
  .page-container {
    Width: 100%;
    Height: 800vh;
}
   .page-container .home-container{
     Width: 100%;
     Height: 100vh;
}
.page-container .home-container . container {
     Width: 100%;
     Height: 100vh;
}
.page-container .home-container . container .comp-container{
     Width:100%;
     Height: 100vh;Display: Flex;
     Flex-direction: column;
     Justify-content: center;
     Align-item: center;
}
.page-container .home-container . container .comp-container .works-cover{
     Width:100%;
     Height: 100vh;
}
.page-container .home-container . container .comp-container .works-cover .works-img{
      Width:50%;
     Height: 100vh;
}
.page-container .home-container .container .comp-container .objects {
      Width:100%;
     Height: 100vh;
}
.page-container .home-container .container .comp-container .objects .blanket-img{
      Width:50%;
     Height: 100vh;
}
}
